spring:
  profiles:
    active: "" # Para ativar a segurança, deixe em branco ou remova a linha
    # active: "no-auth" # Para desativar a segurança, use esta linha
  datasource:
    url: jdbc:postgresql://localhost:5432/menu_manager
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: validate
  liquibase:
    enabled: true
    change-log: /db/db.changelog-master.xml

jwt:
  secret-key: vvbqYhV35neIoAsRNR0kjIyL3kIVAMiUGK4oOkjPRIg=